<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
				<p>
					TRT<br>
					Ankara, Çankaya
				</p>
				<p>Bize Ulaşın: <a href="#">(+90) 505 241 3947</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Kaynaklar</h4>
				<ul>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Bize Ulaşın</a></li>
					<li><a href="#">Forumlar</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Yardım Merkezi</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>KVKK</h4>
				<ul>
					<li><a href="#">Kullanım Şartları</a></li>
					<li><a href="#">Gizlilik Politikası</a></li>
					<li><a href="#">Güvenlik</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Hesabım</h4>
				<ul>
					<li><a href="#">Profilim</a></li>
					<li><a href="#">İzleme Listesi</a></li>
					<li><a href="#">Kaydedilenler</a></li>
					<li><a href="#">Kullanım Rehberi</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>E-Mail Bülteni</h4>
				<p>Son çıkan film ve dizilerden haberdar olmak <br> için hemen abone olun.</p>
				<form action="#">
					<input type="text" placeholder="Email adresiniz...">
				</form>
				<a href="#" class="btn">Üyelik Alın <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Yukarı Dön  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>